{% extends 'base.html' %}
{% block conteudo %}

    <h4 align="center"> <strong>REQUERIMENTO SOLICITADO</strong></h4> <br />
    <div id="conteudo">
        <p align="center">
            <strong >Aluno: </strong>{{ requerimento.aluno.pessoa.nome }} <br />
            <strong>Curso: </strong> {{ requerimento.aluno.curso }} <br />
            <strong>Tipo de Requerimento: </strong> {{ requerimento.tipo_requerimento }} <br />
            <strong>Disciplina: </strong> {{ requerimento.disciplina}} <br />
            <strong>Data da Atividade Perdida: </strong> {{ requerimento.data_atividade }} <br />
            <strong>Data da Solicitação: </strong> {{ requerimento.data_solicitacao_requerimento }} <br />
            <strong>Justificativa: </strong> {{ requerimento.justificativa }} <br />
            <strong>Professor: </strong> {{ requerimento.professor_atividade }} <br />
            <strong>Observação: </strong> {{ requerimento.observacoes }} <br />
            <strong>Codigo: </strong> {{ requerimento.codigo }} <br />
        </p>
    </div>
{% endblock %}