{% extends 'base.html' %}
{% block conteudo %}
    <h3 align="center"> Criar Requerimentos</h3>
    <div class="form-group">
    <form method="GET" role="form" action="{% url 'req_new' %}" class="form-group">
        <div class="col-xs-5 selectContainer">
            <select class="form-control" name="id_tipo_requerimento">
            {% for field in tipo_requerimento %}
                <option value="{{ field.id }}">{{ field.nome }}</option>
            {% endfor %}
        </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Criar">
    </form>
    </div>
{% endblock %}